.guessWord {
  display: flex;
  gap: 0.25em;
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: monospace;
}

.guessLetter {
  border-bottom: 0.1em solid black;
}

.Letter {
  visibility: hidden;
}
.visible {
  visibility: visible;
}

.lostLetter {
  color: red;
}
